!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %title 个人网站
    %link{rel: "stylesheet", href: "./index.css", type: "text/css"}
  %body
    .left-section
      .desc-block
        .desc-title
          Iacob的个人网站
        .desc-text
          技术与闲谈
        .desc-github
          %a{href: "https://github.com/Iacob"} github

    .main-section
      .article-list-section
        .article-section
          .article-title
            %a{href: "https://iacob.github.io/clojure.html"}
              在Linux上为emacs安装clojure开发环境
          .article-post-time 2021-03-25
          .article-body
            .article-body-content
        .article-section
          .article-title
            %a{href: "https://iacob.github.io/cqrs.html"}
              CQRS的实现
          .article-post-time 2021-04-05
          .article-body
            .article-body-content
        .article-section
          .article-title
            %a{href: "https://iacob.github.io/algorithms_clojure.html"}
              使用Clojure实现的一些算法
          .article-post-time 2021-07-24
          .article-body
            .article-body-content
        .article-section
          .article-title
            %a{href: "https://iacob.github.io/clojure_c_for_loop.html"}
              Lisp中实现C风格的for循环
          .article-post-time 2021-08-25
          .article-body
            .article-body-content
